<div class="options">
    <div class="expansion-panel">
        <mat-accordion>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add appointment
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-appointment class="appointment"></app-appointment>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="datepicker">
        <app-dateselect></app-dateselect>
    </div>
</div>
<div>

</div>