.calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(197, 209, 233);
}

.expansion-panel {
    padding: 0.5em;
}

.panel {
    width: 290px;
}

.dateselector {
    width: 290px;
    padding: 0.5em;
}

.hour-table{
    border-left: 1px solid rgb(163, 163, 163);
    width: 100%;
}

.hour-table tr:hover:not(.header) {
    background-color: rgb(197,202,233);
}