<div class="appointment">
    <form class="form">
        <mat-form-field class="title input">
            <mat-label>Appointment title</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="datepicker input">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="time-period input">
            <mat-form-field class="start-time time">
                <mat-label>Start time</mat-label>
                <input matInput type="time">
            </mat-form-field>
            <mat-form-field class="end-time time">
                <mat-label>End time</mat-label>
                <input matInput type="time">
            </mat-form-field>
        </div>

        <mat-form-field class="description input">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <button class="button" mat-raised-button>
            Add
        </button>
    </form>
</div>