.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    width: 240px;
    padding: 1em 0 1em 0;
}

.time {
    width: 110px;
}

.start-time {
    padding-right: 10px;
}

.end-time {
    padding-left: 10px;
}

.button {
    border-radius: 50px;
}